body{
    margin: 0;
}

.wrapper{
    max-width: 700px;
    margin-left: 17px;
}

.data-person{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #424242;
    margin-bottom: 32px;
}

.data-inp{
    width: 214px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 83px;
    margin-left: 16px;
}

.data-inp:first-child{
    margin-left: 0px;
}

.data-inp:nth-child(4){
    margin-left: 0;
    margin-top: 20px;
}

.data-inp::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    padding-left: 24px;
}

.tel-info{
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    margin-bottom: 27px;
}

.email-inp{
    width: 456px;
    height: 50px;
    border: 1px solid #BDBDBD;
    border-radius: 83px;
}

.email-inp::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
    padding-left: 24px;
}

.email-info{
    font-family: 'Montserrat', sans-serif;
    margin-top: 8px;
    margin-bottom: 24px;
}

.newsletter-inp__container{
    height: 30px;
}

.newsletter-label{
    display: flex;
    align-items: center;
}

.checkbox-text{
    font-family: 'Montserrat', sans-serif;
    order: 2;
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
}

.newsletter-inp{
   display: none;
}

.fake-checkbox{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #976464;
    border-radius: 6.6px;
    position: relative;
}

.fake-checkbox::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: url(/styles/img/checked.png);
    opacity: 0;
    transition: 0.2s;
}

.newsletter-inp:checked + .fake-checkbox::before{
    opacity: 1;
}

.pay-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 32px;
}

.pay-form{
    height: 31px;
}

.pay-label{
    display: flex;
    align-items: center;
}

.pay-label:last-child{
    margin-top: 8px;
}

.pay-text{
    font-family: 'Montserrat', sans-serif;
    order: 2;
    margin-left: 16px;
}

.pay-inp{
    display: none;
}
 
.fake-radio{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #976464;
    border-radius: 6.6px;
    position: relative;
    border-radius: 50%;
}
 
.fake-radio::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: url(/styles/img/radio.png);
    opacity: 0;
    transition: 0.2s;
    border-radius: 50%;
}
 
.pay-inp:checked + .fake-radio::before{
    opacity: 1;
}


